<h1>New Badge</h1>

<%= render 'form' %>

<br><h3>Step 4: Add users to your game</h3></br>
<%= link_to 'Create Users', new_game_user_path(@game) %>

<hr><p><%= link_to 'Back', new_game_level_path(@game) %></p></hr>
