<% @page_title = "Password | Password" -%>
<div class= "Password">
	<h1>Password Retrieval</h1>
	<%= form_tag(:action => 'password') do %>
		<p>Username:</br> <%= text_field_tag(:username) %></p> 
		<p>Email:</br> <%= text_field_tag (:email) %></p> 
		<%= submit_tag("Submit") %>
		<br>
		<br>
	<% end %>
</div>