<h1>New level</h1>

<p>Every game needs increments to track user progress per level.....</p>

<%= render 'form' %>

<br><h3>Step 3: Add Badges to your Game</h3></br>
<%= link_to 'Add Badges', new_badge_path %>

<hr><%= link_to 'Back', new_game_path %></hr>